head
  link(rel='stylesheet' href='stud-style.css')
.log-form
  h2 Course Regisration Portal
  form(method='get' action='/student')
    button.btn(type='submit') Student Login
  form(method='post' action='/University')
    button.btn(type='submit') University Login
